<%= form_with model: @book, url: "/books", method: :post do |f| %>

<h4>New Book</h4>
  
  <h5>title</h5>
  <%= f.text_field :title %>
  <h5>Opinion</h5>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>

<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>  -->
<!--        </button>-->